@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: black;
}

h2 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

body._lock {
  overflow: hidden;
}

.wpapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.container {
}
.content {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
  padding: 10px 0;
}
.header__container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.menu__icon {
  display: none;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo img {
  max-width: 100px;
}
.header__logoText {
  color: white;
  margin-left: 8px;
  font-size: 35px;
  line-height: 0.8;
  letter-spacing: 1px;
}
.header__logoText p::first-letter {
  color: #027bfd;
  font-weight: 700;
}

.header__nav {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.header__nav > p {
  position: relative;
  margin: 0 0 0 20px;
}

.header__nav a {
  color: white;
}
.header__nav a:hover {
  color: #59a8fd;
}

.slider {
  margin-top: 114px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.slider__about {
  max-width: 800px;
}
.slider__img {
  margin-bottom: 38px;
}
.slider__img img {
  max-width: 600px;
}
.slider__heading {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
}
.slider__heading p {
  margin-bottom: 10px;
}
.slider__text {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 152%;
  margin-bottom: 70px;
}
.slider__contactUs {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider__contactUs img {
  margin-left: 20px;
}
.slider__contactUs a {
  color: white;
}
.slider__contactUs a:hover {
  color: #027bfd;
}

/* Offer zone */
.offers {
  margin-top: 100px;

  background-color: white;
}
.offers__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.offers__text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 152%;
  color: #000000;
}
.offers__heading {
  margin-top: 60px;
  font-weight: 800;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offers__types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.offers__typeItem {
  background: linear-gradient(100.74deg, #1c1c1c -7.06%, #0d0d0d 104.89%);
  box-shadow: 0px 15px 20px rgba(23, 29, 38, 0.4);
  border-radius: 5px;
  width: 285px;
  color: white;
  margin: 5px 5px 5px 5px;
}

.offers__typeItem p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #59a8fd;
  font-weight: 800;
  padding: 40px 0px 40px 15px;
}

.offers__typeList {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 112%;
  padding: 0 40px 50px 40px;
}

.offers__typeList li {
  padding-bottom: 15px;
}

.jobs {
  margin-top: 100px;
  padding-bottom: 70px;
}
.jobs__heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 800;
  max-height: 1300px;
}

.jobs__heading img {
  max-width: 560px;
  width: 100%;
  margin-top: 20px;
}
.jobs__heading p {
  padding-top: 30px;
  padding-bottom: 10px;
}
.jobs__heading a {
  text-decoration: none;
  color: #59a8fd;
  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding-top: 40px;
  text-align: center;
}

.confidence {
  background-color: white;
}
.confidence__heading {
  padding-top: 100px;
}
.confidence__heading {
  padding-top: 100px;
  padding-bottom: 40px;
}
.confidence__info {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.confidence__info p {
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 152%;
}
.confidence__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
  border-bottom: 3px solid rgba(2, 123, 253, 0.25);
  margin-bottom: 50px;
}
.confidence__item {
  max-width: 227px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 152%;
}
.confidence__item img {
  position: absolute;
  max-width: 70px;
  width: 100%;
}
.confidence__item p {
  padding-top: 70px;
}
.about {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about__logo {
  max-width: 470px;
}
.about__logo img {
  width: 100%;
}
.about__heading {
  color: white;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 152%;
  max-width: 620px;
}
.about__heading p {
  margin-bottom: 20px;
}
.contacts {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Montserrat", sans-serif;
}
.contacts__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contacts__info {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}
.contacts__email {
  padding: 40px 0 80px 0;
}
.contacts__adress {
  padding-top: 80px;
  max-width: 350px;
  padding-bottom: 40px;
}
.contacts__info p {
  font-size: 20px;
  line-height: 152%;
}
.contacts__phones {
  margin-right: 30px;
}
.contacts__numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contacts__links {
  display: flex;
  flex-direction: row;
}
.contacts__links img {
  margin-right: 40px;
  max-width: 35px;
}
.contacts__request {
  color: white;
  background: linear-gradient(100.74deg, #1c1c1c -7.06%, #0d0d0d 104.89%);
  box-shadow: 0px 15px 20px rgba(23, 29, 38, 0.4);
  border-radius: 5px;
  max-width: 590px;
  width: 100%;
}
.contacts__requestZone {
  max-width: 400px;
  margin: 0 auto;
}
.contacts__requestZone h3 {
  font-size: 24px;
  line-height: 152%;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 45px;
}
.contacts__requestZone p {
  font-size: 18px;
  text-align: center;
}
.contacts__forms {
  margin-top: 30px;
  margin-bottom: 10px;
}
.contacts__form {
  display: flex;
  flex-direction: column;
}
.contacts__data {
  margin: 5px 0;
  color: white;
  padding: 15px 30px 15px 30px;
  background: linear-gradient(100.74deg, #1c1c1c -7.06%, #0d0d0d 104.89%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.contacts__send {
  font-size: 18px;
  line-height: 152%;
  color: white;
  text-align: center;
  background: #027bfd;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 12px 0px;
  cursor: pointer;
}
.contacts__privacyPolicy {
  padding-bottom: 46px;
  font-size: 14px;
  line-height: 122%;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.contacts__privacyPolicy:hover {
  color: #027bfd;
}
.footer {
  background-color: black;
  color: white;
  font-size: 18px;
  color: white;
}
.footer__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}
.footer__logoZone {
  display: flex;
  flex-direction: row;
}
.footer__logoZone img {
}
.footer__logoText {
  color: white;
  margin-left: 8px;
  font-size: 35px;
  line-height: 0.8;
  letter-spacing: 1px;
}

.footer__logoText p::first-letter {
  color: #027bfd;
  font-weight: 700;
}
.footer__code {
  margin-top: 30px;
}
.footer__code p {
  margin-bottom: 10px;
}
.footer__code p:last-child {
  margin-bottom: 0px;
}
.footer__nav {
  font-family: "Montserrat", sans-serif;
}
.footer__navList {
}
.footer__navItem a {
  text-decoration: none;
  color: white;
}
.footer__navItem {
  margin-top: 10px;
}
.footer__files {
  display: flex;
  flex-direction: column;
}
.footer__download {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;
}
.footer__download p {
  margin-right: 20px;
}
.footer__copyright {
  line-height: 142%;
}
.footer__copyright p {
  margin-bottom: 10px;
}

@media screen and (max-width: 1178px) {
  .slider__text {
    max-width: 400px;
  }
  .slider__logo {
    max-width: 400px;
  }
  .slider__logo img {
    width: 100%;
  }
  .slider__heading {
    font-size: 38px;
  }
  .slider__text {
    font-size: 22px;
  }
  .slider__contactUs {
    font-size: 18px;
  }
  .slider__contactUs img {
    margin-left: 18px;
  }
  .slider__img a {
    max-width: 300px;
  }
  .slider__img img {
    width: 100%;
  }

  .offers {
    margin-top: 80px;
  }

  .offers__text {
    font-size: 19px;
    line-height: 30px;
  }
  .offers__heading {
    margin-top: 40px;
    font-size: 30px;
  }
  .offers__heading p {
    padding-right: 20px;
  }
  .offers__arrows {
    display: flex;
    flex-wrap: nowrap;
  }
  .offers__arrows img:last-child {
    margin-left: 7px;
  }
  .confidence__info {
    padding-bottom: 80px;
  }
  .confidence__info p {
    max-width: 450px;
  }
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about__inner {
    flex-wrap: nowrap;
  }
  .about__logo {
    min-width: 360px;
    margin-right: 20px;
  }
  .about__heading {
    font-size: 20px;
    max-width: 550px;
  }

  .contacts {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contacts__inner {
    flex-wrap: nowrap;
  }
  .contacts__info {
    margin-right: 20px;
  }
  .contacts__email {
    padding: 30px 0 60px 0;
  }
  .contacts__adress {
    padding-top: 70px;
  }
}
@media screen and (max-width: 991px) {
  .offers {
    padding-top: 30px;
  }
  .offers__image {
    max-width: 400px;
  }
  .offers__image img {
    width: 100%;
  }
  .offers__text {
    max-width: 400px;
  }
  .offers__heading {
    padding-bottom: 30px;
  }

  .confidence__heading {
    padding-top: 80px;
  }

  .confidence__list {
    max-width: 600px;
    margin: 0 auto;
  }
  .confidence__item {
    margin: 20px 0px;
  }
  .confidence__item img {
    position: absolute;
    max-width: 90px;
    width: 100%;
  }
  .confidence__info {
    padding-top: 30px;
  }

  .footer {
    font-size: 16px;
  }
  .footer__inner {
    padding: 60px 0px;
  }

  .footer__nav {
    font-family: "Montserrat", sans-serif;
  }
  .footer__navList {
    display: none;
  }
}
@media (min-width: 767px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__nav > p {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -1px);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -1px);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-100%, 0px);
    background-color: rgba(0, 0, 0, 0.98);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__nav._active {
    transform: translate(0px, 0px);
  }
  .header__nav p {
    margin: 0px 0px 35px 0px;
  }
  .header__nav p:last-child {
    margin: 0px 0px 0px 0px;
  }
  .header__link {
    font-size: 26px;
  }

  .footer__inner {
    display: block;
  }
  .slider__heading {
    font-size: 26px;
  }
  .slider__text {
    font-size: 20px;
  }
  .slider__contactUs {
    font-size: 18px;
    line-height: 26px;
  }
  .confidence__info {
    display: block;
  }
  .confidence__info p {
    padding: 10px 0;
  }
  .about {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .about__inner {
    display: block;
  }
  .about__logo {
    position: absolute;
    opacity: 0.05;
    max-width: 500px;
  }
  .about__heading {
    font-size: 20px;
    max-width: 650px;
  }
  .about__heading p:nth-child(even) {
    background-color: #025afd;
    padding: 15px;
    border-radius: 3px;
  }
  .about__heading p:last-child {
    text-align: center;
    padding-top: 30px;
  }

  .contacts {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contacts__inner {
    display: block;
  }
  .contacts__info {
    margin-right: none;
  }
  .contacts__adress {
    padding-top: 50px;
  }
  .contacts__links {
    display: none;
  }
}
@media (max-width: 520px) {
  .content {
    padding: 0 5px;
  }
  .slider__img {
    padding-right: 30px;
  }
  .slider__logo {
    display: none;
  }
  .offers__image {
    display: none;
  }
}
@media (max-width: 479px) {
  .about__logo {
    display: none;
  }
  .contacts__request {
    max-width: none;
    width: 100%;
  }
  .contacts__requestZone {
    max-width: none;
    margin: none;
  }
  .contacts__requestZone h3 {
    font-size: 18px;
    padding-top: 25px;
  }
  .contacts__requestZone p {
    font-size: 14px;
  }
  .contacts__forms {
    margin-top: 20px;
    padding: 0px 10px;
  }
}
